.home {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: var(--padding);
    text-align: justify;

    .left-container {
        width: 60%;

        .title,
        .score {
            color: #574747;
            font-weight: bold;
        }

        .title {
            font-size: 60px;
        }

        .score {
            font-size: 40px;
        }

        .btn {
            cursor: pointer;
            font-weight: 700;
            font-family: Helvetica, "sans-serif";
            transition: all .2s;
            padding: 10px 20px;
            border-radius: 100px;
            background: var(--color_2);
            border: 1px solid transparent;
            display: flex;
            align-items: center;
            font-size: 15px;
            -webkit-box-shadow: 0px 10px 8px 0px rgba(92, 163, 168, 1);
            -moz-box-shadow: 0px 10px 8px 0px rgba(92, 163, 168, 1);
            box-shadow: 0px 10px 8px 0px rgba(92, 163, 168, 1);

            &:hover {
                svg {
                    transform: translateX(5px);
                }
            }

            svg {
                width: 34px;
                margin-left: 10px;
                transition: transform .3s ease-in-out;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }

    .bg {
        background-image: url(/assets/bg.png);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 580px;
    }

    .rigth-container {
        width: 50%;
        justify-self: flex-end;

        .card {
            display: flex;
            align-items: center;
            gap: 1rem;

            .logo {
                display: flex;
                align-items: center;
                width: 50px;
                height: 50px;
                padding: 10px;
                border-radius: 100%;
                background-color: var(--color_2);
                -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

                img {
                    width: 50px;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .left-container,
        .rigth-container {
            width: 100%;
        }
    }
}