@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 3rem;
    background-color: #EFECE5;
}

:root {
    --color_1: #5CA3A8;
    --color_2: #A1DBC3;
}

a {
    text-decoration: none;
    color: #574747;
    font-size: 20px;
}